html,
body {
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
}

.header-user-button {
  margin-right: 2rem;
  /* width: 40px; */
  /* height: 30px; */
  padding: 0.5rem;
  margin-block: 0.2rem;
  background-color: #32cd32;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 14px;
  /* text-transform: uppercase; */
  cursor: pointer;
}

.content {
  display: flex;
  flex: 1;
  width: 100%;
}

.sidebar {
  border-radius: 10px;
  width: 15%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin-right: 2rem;
  height: 50rem;
  margin-top: 0;
}

.sidebar-button {
  background-color: #2b2b2b;
  border: none;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-block: 0.5rem;
  /* width: 100%; */
}

.sidebar-button:hover {
  background-color: #444444;
}

.enable-trends {
  background-color: #6a3ef9;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.enable-trends:hover {
  background-color: #836eff;
}

.main-content {
  background-color: #121212;
  border-radius: 10px;
  height: 54rem;
}

.main-scrollpanel {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.card {
  background-color: #1c1c1c; /* #1c1c1c; */
  border-radius: 10px;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  height: 350px;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 30px;
  font-weight: bold;
  margin-bottom: "1rem";
}

.card-content {
  padding: 20px;
}

.p-divider {
  opacity: 10%;
  padding-block: 20px;
}
.p-divider-solid.p-divider-horizontal::before {
  border-top-width: 1px;
}

.icon-button {
  cursor: pointer;
  color: #fff;
  opacity: 50%;
  font-weight: regular;
}
